@import "~antd/es/style/themes/default.less";
@import "../../../utils/utils.less";

.stepList {
  padding-top: 20px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  > div {
    width: 250px;
    margin: 0 10px;

    display: inline-block;
    vertical-align: top;

    > div {
      min-height: 500px;
    }
  }
}

.newButton {
  width: 100%;
  height: 400px;
  color: @text-color-secondary;
  background-color: @component-background;
  border-color: @border-color-base;
  border-radius: @border-radius-sm;
}

.assemblyFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: grey;
  text-align: center;
  padding: 10px 0 0 255px;
  box-sizing: border-box;
}
